.site-name {
  font-family: 'Lobster', cursive;
  font-size: 22px;
  font-weight: 600;

  @media(min-width: 576px) {
    font-size: 28px;
  }
}

.fas {
  color: rgb(46, 46, 112) !important
}

.form-container {
  width: 100%;
  @media (min-width: 768px) {
    width: 50%
  }
}

.text-dark {
  * {
    color: #343a40
  }
}

.text-base {
  color: rgb(46, 46, 112) !important;
  * {
    color: rgb(46, 46, 112) !important
  }
}

.book-page {
  img {
    width: 100%;
    height: auto;

    @media(min-width: 968px) {
      width: 50%;
      height: 600px;
    }
  }
}

.banner {
  display: flex;
  flex-direction: column-reverse;
  flex-wrap: wrap;
  
  @media(min-width: 992px) {
    height: 600px;
    justify-content: space-between;
    flex-flow: row wrap;
  }
  
  .banner-item {
    @media(min-width: 992px) {
      width: 48%;
    }
  }

  .banner-image {
    background: white asset_url("samson.png") no-repeat center;
    background-size: contain;
    background-clip: border-box;
    height: 300px;
    @media(min-width: 992px) {
      height: auto;
    }
  }

  .banner-text {
    align-self: center;
    line-height: 1.5;
  }
}

.horizontal-card {
  display: flex;
  justify-content: space-between;
  flex-flow: row wrap;
  margin-bottom: 20px;
  box-shadow: rgba(0,0,0,0.1) 0px 3px 20px;
  border: 1px solid rgba(0,0,0,0.1);
  border-radius: 10px;

  .image-container, .text-container{
    width: 100%;
  }

  .image-container {
    height: 250px;
  }

  img {
    width: 100%;
    height: 100%;
    object-fit: fill;
  }

  @media (min-width: 768px) {
    height: 250px;
    .image-container {
      width: 20%;
      margin-right: 20px;
      height: 100%;
    }

    .text-container{
      width: 75%;
    }
  }
}


footer, header {
  box-shadow: rgba(0,0,0,0.1) 0px 3px 20px;
}

header {
  border-bottom: 1px solid rgba(0,0,0,0.1);
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  border-top: 1px solid rgba(0,0,0,0.1);
  background: #222;
  color: rgb(182, 182, 182);

  a, a:visited {
    color: rgb(182, 182, 182) !important;
  }

  a:hover {
    color: white !important;
  }
}

.delete-btn {
  border: none
}

.stats {
  display: flex;
  justify-content: space-around;
  flex-flow: row wrap;
}

.square-card {
  padding: 20px;
  width: 200px;
  height: 200px;
  box-shadow: rgba(0,0,0,0.1) 0px 3px 20px;
  align-items: center;
  border-radius: 20px !important;
  margin-bottom: 20px;

  .count {
    font-weight: 600;
    font-size: 35px;
  }
}