<footer class="px-2 px-md-4 px-lg-5 py-3 mt-5 text-center">
  <div class="h4"> Contacts </div>
<div class="text-center"> Email: <a href="mailto:smba4glory@gmail.com">smba4glory@gmail.com</a> </div>
<div class="text-center"> Phone: <a href="tel:08068688193">08068688193</a> </div>
<div> &copy Samson O. Ajewole 2021 </div>
</footer>