<footer class="px-2 px-md-4 px-lg-5 py-3 mt-5 text-center">
  <div class="h4"> Contacts </div>
<div class="text-center"> Email: Myemail </div>
<div class="text-center"> Phone: 082828882 </div>
<div> &copy Samson O. Ajewole 2021 </div>
</footer>